:root {
    --main-bg-color: black;
    --main-font-color: bisque;
    --standard-border-radius: 10px;
    font-size: 16px;
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    overflow: scroll;
    height: 100%;
}


body, html {
    color: var(--main-font-color);
    background-color: black;
}